<div class="modal fade" id="deleteSupportTicket{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-body text-white">
                <p class="text-center">
                    Do you want to delete the ticket?<br>
                    <small class="bg-danger rounded text-white p-2">Once eliminated, there is no going back</small>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger rounded-pill" data-bs-dismiss="modal">Close</button>
                <a href="/support_tickets/delete/{{id}}" class="btn btn-info rounded-pill">Delete</a>
            </div>
        </div>
    </div>
</div>