<div class="modal fade" id="deleteUser{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="text-center">
                    Do you want to delete the user?<br>
                    <small class="bg-danger rounded text-white p-2">Once eliminated, there is no going back</small>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <a href="/users/delete/{{id}}" class="btn btn-dark">Delete</a>
            </div>
        </div>
    </div>
</div>