<div class="container mt-5"> <br>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12 mx-auto">
            <div class="card shadow bg-dark rounded-pill border">
                <div class="card-body">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-6">
                            <img src="https://juanluisn.blob.core.windows.net/imagenes/Phone maintenance_Flatline.png"
                                class="img-fluid bg-light rounded-circle">
                        </div>
                        <div class="col-md-6 text-white">
                            <h2 class="mt-2">Log in</h2>
                            <hr class="mb-3 w-75">
                            <form action="/signin" method="POST">
                                <div class="mb-3">
                                    <label for="">Email:</label>
                                    <div class="input-group w-75">
                                        <span class="input-group-text">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                        <input type="text" name="email" placeholder="Email"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="">Password:</label>
                                    <div class="input-group w-75">
                                        <span class="input-group-text">
                                            <i class="fas fa-key"></i>
                                        </span>
                                        <input type="password" name="password" placeholder="Password"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-light mt-3 w-75">Log in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>